<!DOCTYPE html>
<html>

<head>
    <meta name="viewport">
    <link rel=" stylesheet " href="D://visualcode/Bootstrap/css/bootstrap.css ">
    <link rel="stylesheet " href="D:/visualcode/fontawesome-free-5.13.0-web/css/all.css ">
    <link rel="stylesheet " type="text/css " href="myprogram.css ">
</head>

<body>
    <div class="container">
        <h2>Premium and <b>Free Website<br>Templates HTML5</b></h2>
        <br>
        <div class="abc">Our professional team of designers will help you to create a unique image of your company, <br> which will distinguish it from competitions and attract new customers.</div>
        <br><br>
        <div class="row">
            <div class="col-md-12 framee">
                <div class="bbb" style="position:absolute">
                    <i class="fa fa-id-card add fa-2x" style="color:blue;margin-top:-10px;margin-left:90px"></i>
                </div>
                <div class="ball" style="position:relative">
                    <div class="form1"><br>
                        <h5><b>UI/UX</b></h5>
                    </div>
                    <br>
                    <div class="form">
                        UX-design is associated with the psychology and understanding of the behaviour of people within the application. This is the creation of the logic of interaction with the product and help in achieving the user's goals.
                        <br>
                        <div class="aaa">
                            <br> Read More ->
                        </div><br>
                    </div>
                </div>
                <div>
                    <div class="bbb" style="position:absolute">
                        <i class="fas fa-file-image add fa-2x " style="color:blue;margin-top:-10px;margin-left:90px "></i>
                    </div>
                    <div class="ball" style="position:relative">
                        <div class="form1"><br>
                            <h5><b>ILLUSTRATION</b></h5>
                        </div>
                        <br>
                        <div class="form">
                            Children's illustration should be contras. Otherwise, the child is difficult to focus on something. In children, the ability to focus is not very developed. They perceive colors and forms, so for children's illustration this is especially important.
                            <br>
                            <div class="aaa">
                                <br> Read More ->
                            </div><br>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="bbb" style="position:absolute">
                        <i class="fab fa-apple add fa-2x" style="color:blue;margin-top:-20px;margin-left:90px"></i>
                    </div>
                    <div class="ball" style="position:relative">
                        <div class="form1 "><br>
                            <h5><b>BRANDING</b></h5>
                        </div>
                        <br>
                        <div class="form">
                            A set of marketing tools and <br>management, consisting in the <br> development of the brand of products, positioning and promotion on the<br> market, ensuring reputition.
                            <br>
                            <div class="aaa">
                                <br> Read More ->
                            </div><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About Us</h4>
                <br>
                <div style="color:Gray">
                    Based on family principles, we are personally responsible for the production, process and hiring
                </div> <br>
                <div class="row">
                    <div class="aaa1">
                        ->
                    </div>
                    <b style="margin-left:15px">   Visit our office to meet our professionals.</b>
                </div>
                <div class="row">
                    <div class="aaa1">
                        ->
                    </div>
                    <b style="margin-left:15px">  Meet our professionals.</b>
                </div>
                <div class="row">
                    <div class="aaa1">
                        ->
                    </div>
                    <b style="margin-left:15px"> We'll help you with your strategy.</b>
                </div><br>
                <div class="row">
                    <div> <button type="button" class="btn btn-primary btn-lg" style="font-size:15px;margin-left:25px">Learn More</button></div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="animate" src="newspaper.jpg"> </div>
        </div><br><br>
        <div style="text-align:center;font-size:30px">
            <b>The services we offer you</b>
        </div>
        <div class="abc">
            We also offer services in the design, alignment, installation, repair and utilization of signature.
        </div><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12 frame">
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-search fa-2x"></i></div>
                        <div style="text-align:center">We are creative</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-envelope fa-2x"></i></div>
                        <div style="text-align:center">We are clever</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-star fa-2x"></i></div>
                        <div style="text-align:center">We are helpful</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-id-card fa-2x"></i></div>
                        <div style="text-align:center;">We use latest technologies</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 frame">
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-thumbs-up fa-2x"></i></div>
                        <div sstyle="text-align:center">We are professionals</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan;">
                            <i class="fa fa-paper-plane fa-2x"></i></div>
                        <div style="text-align:center">Our work is unique</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan; ">
                            <i class="fa fa-print fa-2x "></i></div>
                        <div style="text-align:center ">We provide support</div>
                    </div>
                    <div class="framee1">
                        <div style="text-align:center;color:darkcyan; ">
                            <i class="fa fa-cog fa-2x "></i></div>
                        <div style="text-align:center; ">Personal approach</div>
                    </div>
                </div>
            </div>
        </div><br>
        <div style="text-align:center;font-size:30px ">
            <b>Our Creative Team</b>
        </div><br></div>
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 frame">
                <div class="frame1">
                    <img src="girl2.jpg " style="height:200px;width:80% ">
                </div>
                <div class="frame2 ">
                    <img src="boyy.jpg " style="height:200px;width:80% "></div>
                <div class="frame3 "><img src="women.jpg " style="height:200px;width:80% "></div>
                <div class="frame4 "><img src="boyy1.jpg " style="height:200px;width:80% "></div>
            </div>
        </div><br>
        <div class="row ">
            <div class="col-md-12 frame">
                <div class="frame1 " style="width:80% ">
                    <b>Amanda Adams</b> <br>
                    <p style="color:gray ">Designer</p>
                    <p style="color:gray ">We would like to thank all employees of the company.</p>
                </div>
                <div class="frame1 " style="width:80% ">
                    <b>Joseph Kellen</b> <br>
                    <p style="color:gray ">Real Estate</p>
                    <p style="color:gray ">Wish you success in your work, as many ew projects as possible.</p>
                </div>
                <div class="frame1 " style="width:80% ">
                    <b>Nick Dimon</b> <br>
                    <p style="color:gray ">Designer</p>
                    <p style="color:gray ">High-quality and fast execution of any of our orders.</p>
                </div>
                <div class="frame1 " style="width:80% ">
                    <b>Steve Elliott</b> <br>
                    <p style="color:gray ">Founder</p>
                    <p style="color:gray ">Thank you so much for your responsibilities help that you provide in our work</p>
                </div>
            </div>
        </div>
        <br><br>
        <div style="text-align:center;font-size:30px ">
            <b>Our Achievments</b>
            <br><br>
        </div>
        <div class="col-md-12 frame ">
            <div class="frame2 " style="width:80%;font-size:25px ">
                <i class="fa fa-thumbs-up fa-x " style="color:dodgerblue "></i>46
            </div>
            <div class="frame2 " style="width:80%;font-size:25px ">
                <i class="fa fa-users fa-x " style="color:dodgerblue "></i>4
            </div>
            <div class="frame2 " style="width:80%;font-size:25px ">
                <i class="fas fa-clock fa-x " style="color:dodgerblue "></i>300
            </div>
            <div class="frame2 " style="width:80%;font-size:25px ">
                <i class="far fa-grin fa-x " style="color:dodgerblue "></i>46
            </div>
        </div>
    </div>
</body>

</html>

</html>

</html>